* {
    margin: 0;
    padding: 0;
}
body {
    background-color:  rgb(173, 198, 204);
    font-family: 'Roboto', sans-serif;
}

.navbar {
    width: 100%;
    height: 280px;
}

.nav-container {
    display: flex;
    align-items: flex-end;
    padding: 50px 50px 0 50px;
}

.logo-container {
    flex: 1;
}

.logo {
    font-size: 110px;
    padding: 0;
}

.description {
    /* font-size:50px; */
    /* padding: 10px; */
    margin-bottom: 20px;
    padding-right: 20px;
}

/* carousel */

.carousel {
    position: relative;
    height: 570px;
    width: 94%;
    margin: 25px 0 0 0;
    padding: 50px 50px 0 50px;
}
.carousel_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_track-container {
    background-color: black;
    height: 95%;
    position: relative;   
    overflow: hidden;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 500ms ease-in-out;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button--left {
    left: 20px;
}

.carousel_button--right {
    right: 20px;
}

.carousel_button {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
}

/* about section */

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-auto-rows: minmax(200px, auto);
    height: 90vh;
    padding: 50px 61px 0 50px;
    
}

.about-me {
    grid-column: 1/3;
    align-self: flex-end;
    font-size: 100px;
    padding: 50px;
}

.about-image {
    grid-column: 3/4;
    grid-row: 1/3;
    justify-self: end;
}

.about-description {
    grid-column: 2/3;
    /* padding-left: 50px; */
}

.aboutImage {
    height: 85vh;
}

/* work section */

.work-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 90vh;
    padding: 50px 61px 0 50px;
}

.work-header {
    grid-row: 1/3;
    align-self: center;
    font-size: 150px;
    padding-bottom: 350px;
}

.work-address {
    padding: 25px 0 0 125px;
}

.work-image {
    justify-self: end;
}

.workImage {
    
    width: 40vw;
}

/* my work section */
.myWork-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    gap: 25px;
    height: 100vh;
}

.myWork-header {
    grid-row: 1/3;
    align-self:flex-end;
}

.myWork-1 {
    grid-row: 1/3;
    padding-top: 150px;
}

.myWork {
    grid-row: 1/3;
    padding-top: 150px;
}

.title {
    font-size: 100px;
    padding-left: 50px;
    padding-bottom: 25px;
}

.titleImage {
    width: 700px;
    padding-bottom: 50px;
    padding-right: 50px;
}

.myWorkImage {
    width: 450px;
}

.myWork-desc {
    width: 80%;
    padding-top: 20px;
}

/* 2nd part of my work section */
.myWork-container-2 {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px;
    gap: 25px;
    height: 80vh;
}

.box-1 {
    grid-row: 1/3;
    padding-top: 150px;
}
.box-2 {
    grid-row: 1/2;
    height: 650px;
}

.box-3 {
    grid-row: 1/3;
}

.box-image {
    width: 650px;
}

.second {
    height: 560.75px;
    /* padding-left: 25px; */
}

.box-image-text {
    padding-top: 25px;
    /* padding-left: 25px; */
    width: 50%;
}

/* quote section */
.quote-container {
    display: grid;
    grid-template-columns: 1.618fr 1fr;
    padding: 0 50px 50px 50px;
    height: 80vh;
}

.quote {
    width: 90%;
    font-size: 50px;
}

.quote-image-container {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.image-text {
    padding-right: 20px;
}

.quoteImage {
    height: 70vh;
}